<div class="navbar navbar-default navbar-static-top" role="navigation" styles="background-color: #0e314b;">
  <div class="container">
    <div class="navbar-header">

      <!-- Mobile menu button -->
      <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="/">
        <img alt="LeaseWeb Customer Portal" class="logo" src="/assets/logo.png">
      </a>
    </div>
    <div class="navbar-collapse collapse">
      <!-- Menu -->
      <ul class="nav navbar-nav">
        <li class="dropdown ">
          <a href="" class="dropdown-toggle" data-toggle="dropdown">Dedicated &amp; Bare Metal<span class="caret"></span></a>
          <ul role="menu" class="dropdown-menu">
            <li>
              <a href="/bare-metals/overview">
                All Servers
              </a>
            </li>
            <li>
              <a href="/bare-metals/remoteManagement">
                Remote Management
              </a>
            </li>
            <li>
              <a href="/bare-metals/privateNetwork/overview">
                Private Network
              </a>
            </li>
            <li>
              <a href="/bare-metals/racks">
                Private Racks
              </a>
            </li>
            <li>
              <a href="/bare-metals/aggregationPacks">
                Aggregated Datagraphs
              </a>
            </li>
            <li>
              <a href="/backup">
                Backup
              </a>
            </li>
          </ul>
        </li>
        <li class="dropdown ">
          <a href="" class="dropdown-toggle" data-toggle="dropdown">Cloud<span class="caret"></span></a>
          <ul role="menu" class="dropdown-menu">
            <li>
              <a href="/clouddash/customer/virtual_machine/index">
                Virtual Server
              </a>
            </li>
            <li>
              <a href="/clouddash/customer/resource_pool/index">
                Private Cloud
              </a>
            </li>
          </ul>
        </li>
        <li class="dropdown ">
          <a href="" class="dropdown-toggle" data-toggle="dropdown">Colocation<span class="caret"></span></a>
          <ul role="menu" class="dropdown-menu">
            <li>
              <a href="/bare-metals/colocations/overview">
                Overview
              </a>
            </li>
          </ul>
        </li>
        <li class="dropdown ">
          <a href="" class="dropdown-toggle" data-toggle="dropdown">Hosting<span class="caret"></span></a>
          <ul role="menu" class="dropdown-menu">
            <li>
              <a href="/hosting/dmn/">
                Hosting
              </a>
            </li>
            <li>
              <a href="/redirects/">
                Redirects
              </a>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown user-nav">
          <span class="customer-number">10072540</span>
          <a href="" class="dropdown-toggle" data-toggle="dropdown">finance-only-sap@test.com<span class="caret"></span></a>
          <ul role="menu" class="dropdown-menu user-menu">
            <li>
              <a href="/product/services">
                All services
              </a>
            </li>
            <li>
              <a href="/customer/contacts">
                Contact Management
              </a>
            </li>
            <li>
              <a href="/user-management/">
                User Management
              </a>
            </li>
            <li>
              <a href="https://profile.leaseweb.com" target="_blank">
                My Profile
              </a>
            </li>
            <li>
              <a href="/api-client-management/">
                API
              </a>
            </li>
            <li>
              <a href="/customer/finance">
                Finance
              </a>
            </li>
            <li>
              <a href="/tickets/">
                Tickets
              </a>
            </li>
            <li>
              <a href="/notifications/">
                Service Status
              </a>
            </li>
            <li>
              <a href="/abuse-tickets/">
                Abuse notifications
              </a>
            </li>

            <li class="divider"></li>
            <li class="static-menu-item">
              <div class="label">Languages</div>
            </li>
            <li class="menu-language menu-current-language static-menu-item">
              <div class="value">English <span class="glyphicon glyphicon-ok"></span></div>
            </li>
            <li class="divider"></li>

            <li class="static-menu-item">
              <div class="value">10072540</div>
            </li>
            <li class="static-menu-item">
              <div class="value">finance-only-sap@test.com</div>
            </li>
            <li class="static-menu-item">
              <div class="value">finance-only-sap@test.com</div>
            </li>
            <li>
              <a href="/logout" class="logout">
                Logout
              </a>
            </li>
          </ul>
        </li>

      </ul>
    </div>
  </div>
</div>

<div style="margin-left: 20px">
  <h1>My id - {{mypeerid}}</h1>
  <input [(ngModel)]="anotherid" type="text" name="anotherid">

  <!--<input type="text" [(ngModel)]="anotherid">-->
  <button (click)="videoconnect()" mat-fab class="green" *ngIf="!onCall"><i class="material-icons md-light ">
    video_call
  </i></button>
  <button (click)="close()" mat-fab class="red" *ngIf="onCall"><i class="material-icons md-light">
    close
  </i></button>
  {{speechData}}

  <!--<button (click)="connect()">Connect</button>-->
  <!--<video #myvideo></video>-->


  <div class="video-container">
    <mat-grid-list cols="1" rowHeight="1:1">
      <mat-grid-tile>
        <video #myvideo id="self" muted="muted"></video>
      </mat-grid-tile>
    </mat-grid-list>
    <!-- <mat-grid-tile>
       <video #myvideo2></video>
     </mat-grid-tile>-->
    <mat-grid-list cols="1" rowHeight="1:1">
      <mat-grid-tile  *ngFor="let stream of peerStreams">
        <video [srcObject]="stream" autoplay id="{{stream.id}}"></video>
      </mat-grid-tile>

    </mat-grid-list>
    <mat-grid-list cols="1" rowHeight="1:1">

      <mat-grid-tile  *ngFor="let stream of peer.connections[this.anotherid]">
        <div *ngIf="tempId !== stream?.remoteStream?.id">
          <video [srcObject]="stream['remoteStream']" autoplay></video>
        </div>

      </mat-grid-tile>

    </mat-grid-list>

  </div>



  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="card">
          <div class="content">
            <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-8">
                <div class="form-group">
                  <label></label>
                  <!--<input type="text" class="form-control border-input" name="txtSpeechSearchMovieName" id="txtSpeechSearchMovieName" value=""
                         placeholder="Click below button and then say something!!!" [(ngModel)]="speechData">-->
                  {{speechData}}
                </div>
              </div>
              <div class="col-md-2"></div>
            </div>
            <br />

            <br />
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
